.random-container {

}


.random-container .random-container-output {
  margin: auto;
  color: white;
  /*WebkitTransition: all; // note the capital W here
  msTransition: all; // ms is the only lowercase vendor prefix*/
  height: 500px;
  min-width: 700px;
  width: 700px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 1px 1px 2px #01579B;
  visibility:hidden;
}

.random-container-output .business-title {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.75);
  padding: 3px 10px;
}

.random-container-output .business-title a {
  color: white;
}

.random-container-output .business-title a:hover {
  color: white;
  text-shadow: 1px 1px 2px #01579B;
}


.business-map {
  width: 10%;
  cursor: pointer;
}

/*<div class="roll-dice"></div>*/
@keyframes diceroll {
  0%   {content: "⚀";}
  20%  {content: "⚁";}
  40%  {content: "⚂";}
  60%  {content: "⚃";}
  80%  {content: "⚄";}
  100% {content: "⚅";}
}

.roll_dice {
  display: inline;
}
.roll-dice:after {
animation: diceroll 3s linear infinite alternate;
content: "⚀";
font-size: 100px;
}
