.header {
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  color: #899BB5;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#add-remove-buttons {
  display: flex;
}

#add-input {
  color: white;
  width: 30px;
  height: 30px;
  background-color: #4DD0E1;
  border-bottom: black 2px solid;
  border-top: 2px #6f6f6f solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#C1EBFF), to(#B0C7E8));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
  border-radius: 15%;
  box-shadow:
    0px 3px 0px 0px #899BB5,
    0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  border : 1px solid #B2C9EB;
  margin-top: 10px;
}

#remove-input {
  color: white;
  width: 30px;
  height: 30px;
  background-color: #4DD0E1;
  border-bottom: black 2px solid;
  border-top: 2px #6f6f6f solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#C1EBFF), to(#B0C7E8));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
  border-radius: 15%;
  box-shadow:
    0px 3px 0px 0px #899BB5,
    0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  border : 1px solid #B2C9EB;
  margin-top: 10px;
  margin-left: 5px;
}

input {
  border-radius: 25px;
  margin: 1%;
  border-color: #C1EBFF;
}

#add-input:active {
  top: 1px;
  box-shadow: 0px 0px 0px 0px #899BB5,
  0px 1px 2px 0px rgba(0, 0, 0, 0.4) inset;
}

#remove-input:active {
  top: 1px;
  box-shadow: 0px 0px 0px 0px #899BB5,
  0px 1px 2px 0px rgba(0, 0, 0, 0.4) inset;
}
