#logout-button {
  color: white;
  background-color: #4DD0E1;
  border-bottom: black 2px solid;
  border-top: 2px #6f6f6f solid;
  background: -webkit-gradient(linear, left top, left bottom, from(#C1EBFF), to(#B0C7E8));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
  border-radius: 15%;
  box-shadow:
    0px 3px 0px 0px #899BB5,
    0px 2px 4px 0px rgba(0, 0, 0, 0.4);
  border : 1px solid #B2C9EB;
  margin-top: 10px;
}
