html {
    position: relative;
    min-height: 100%;
}

header {

  display:flex;
  justify-content: space-between;

  background-color: #222;
  padding: 20px;
  color: white;
}

header .brand {
  display: flex;
}

header .logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}

header .title {
  font-size: 1.5em;
}


.App-intro {
  font-size: large;
}

/*<div class="roll-dice"></div>*/
@keyframes diceroll {
  0%   {content: "⚀";}
  20%  {content: "⚁";}
  40%  {content: "⚂";}
  60%  {content: "⚃";}
  80%  {content: "⚄";}
  100% {content: "⚅";}
}

.roll_dice {
  display: inline;
}
.roll-dice:after {
  animation: diceroll 3s linear infinite alternate;
  content: "⚀";
  font-size: 100px;
  line-height: 70px;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
